# Copy me to .env and make your edits
# Do not use quotation marks!

# nginx settings
# Be careful that the SSL paths aren't symlinks!
DYBVDQ_SSL_CERT=/etc/letsencrypt/archive/dybdq.work/fullchain1.pem
DYBVDQ_SSL_KEY=/etc/letsencrypt/archive/dybdq.work/privkey1.pem
DYBVDQ_HOSTNAME=dybdq.work
DYBVDQ_AUTH_USER=dayabay
DYBVDQ_AUTH_PASS_HASH=$apr1$blahblahblahblahblahblahblahbla

# data quality database
DYBVDQ_DQ_DB_HOST=dybdq.work
DYBVDQ_DQ_DB_PORT=3306
DYBVDQ_DQ_DB_USER=root
DYBVDQ_DQ_DB_PASS=blahblah
DYBVDQ_DQ_DB_NAME=dq_db

# internal app database
DYBVDQ_APP_DB_HOST=dybvdq-app_db
DYBVDQ_APP_DB_PORT=3306
DYBVDQ_APP_DB_USER=root
# Change the password and use it in any scripts that scrape the DB
DYBVDQ_APP_DB_PASS=blahblah
DYBVDQ_APP_DB_NAME=app_db
# This will be created by Docker if it doesn't exist
DYBVDQ_APP_DB_DATA=/root/visual_dq/app_db

# optional parameters
DYBVDQ_SQLALCHEMY_ECHO=0
