# Copy me to .env and make your edits
# Do not use quotation marks!
# NB: DB data dirs will be created by Docker if they don't exist

# nginx settings
# Be careful that the SSL paths aren't symlinks!
DYBVDQ_SSL_CERT=/etc/letsencrypt/archive/dybdq.work/fullchain1.pem
DYBVDQ_SSL_KEY=/etc/letsencrypt/archive/dybdq.work/privkey1.pem
DYBVDQ_HOSTNAME=dybdq.work
DYBVDQ_AUTH_USER=dayabay
DYBVDQ_AUTH_PASS_HASH=$apr1$blahblahblahblahblahblahblahbla
DYBVDQ_SUSPEND_CODE=ChangeMeToSomethingSecret

# data quality database
DYBVDQ_DQ_DB_HOST=dybvdq-dq_db
DYBVDQ_DQ_DB_PORT=3306
DYBVDQ_DQ_DB_USER=root
DYBVDQ_DQ_DB_PASS=blahblah
DYBVDQ_DQ_DB_NAME=dq_db
DYBVDQ_DQ_DB_DATA=~/visual_dq/dq_db/data

# internal app database
DYBVDQ_APP_DB_HOST=dybvdq-app_db
DYBVDQ_APP_DB_PORT=3306
DYBVDQ_APP_DB_USER=root
DYBVDQ_APP_DB_PASS=blahblah
DYBVDQ_APP_DB_NAME=app_db
DYBVDQ_APP_DB_DATA=~/visual_dq/app_db/data

# optional parameters
DYBVDQ_SQLALCHEMY_ECHO=0
