# Copy me to .env and make your edits
# Do not use quotation marks!
# Be careful that the SSL paths aren't symlinks!

# nginx settings
DYBVDQ_SSL_CERT=/etc/letsencrypt/archive/dybdq.work/fullchain1.pem
DYBVDQ_SSL_KEY=/etc/letsencrypt/archive/dybdq.work/privkey1.pem
DYBVDQ_HOSTNAME=dybdq.work
DYBVDQ_AUTH_USER=dayabay
DYBVDQ_AUTH_PASS_HASH=$apr1$blahblahblahblahblahblahblahbla

# flask app settings
DYBVDQ_DB_HOST=dybdq.work
DYBVDQ_DB_PORT=3306
DYBVDQ_DB_USER=root
DYBVDQ_DB_PASS=blahblah
DYBVDQ_DB_NAME=dq_db
